@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: #34495e;
    color:white;
    font-family: 'rubik', sans-serif;
    overflow:hidden;
}

th{
    color:lightgrey;
}

.reset{
    position:fixed;
    top:8px;
    left: 8px;
}

.reset button, .chart-list button{
    transition: 0.4s;
    outline:none;
    color:rgb(199, 138, 138);
    background-color: #34495e;
    font-size: 18px;
    padding:0 10px;
    border:none;
    border-radius: 4px;
    
}

.reset button:hover, .chart-list button:hover{
    transform:rotate(8deg);
    background-color: rgb(209, 159, 66);
    color:white;
    box-shadow: 0 0 10px 1px rgb(95, 95, 95);
}

.app-info{
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #2C3A47;
}

.about{
    transition: 1s;
    min-width:500px;
    padding:10px;
    margin:100px auto;
    width:500px;
    height:420px;
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 40px 1px rgb(34, 34, 34);
}

.about h1{
    border-bottom: 1px solid grey;
}

.about span{
    transition: 0.4s;
    padding:4px;
}

.about span:hover{
    background-color: white;
}

.about span:hover a{
    color:black;
    letter-spacing: 1px;
}

.about a{
    transition: 0.4s;
    color:white;
    text-decoration: none;
}

.about button{
    transition: 0.4s;
    outline:none;
    color:white;
    background-color: #34495e;
    font-size: 26px;
    padding:12px;
    border:none;
    border-radius: 30px;
    box-shadow: 0 0 10px 3px rgb(32, 32, 32);
}
.about button:hover{
    transform: rotate(-6deg);
}

.login-container{
    padding-top:50px;
    display:block;
}
.login{
    max-width:50%;
    background-color:#2C3A47;
    /*box-shadow: 10px 10px 5px 0px #2C3A47;*/
    border:0px solid grey;
    border-radius:20px;
    width:50%;
    padding:10px;
}

.login input[type = "text"],.login input[type = "number"],.login input[type = "password"]{
    border:0;
    background: none;
    color:grey;
    border:1px solid #3498db;
    border-radius: 14px;
}

#error-msg{
    display: none;
}

.dashboard{
    display: none;
}

.entry-box{
    color:lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#2C3A47;
    border:0px solid grey;
    border-radius:20px;
}

.entry-box input[type = "text"],.entry-box input[type = "number"]{
    border:0;
    background: none;
    color:lightgrey;
    border:1px solid #3498db;
    padding-left: 4px;
}

.result-container{
    margin:110px 0px auto;
    height:500px;
    color:lightgrey;
    padding:50px;
    background-color:#2C3A47;
    border-radius:20px;
}

#graphCanvas{
    height:100%;
    width: 100%;
}

.chart-list{
    border-top:2px solid rgb(199, 138, 138);
    border-radius: 0 0 20px 20px;
    padding:12px;
    background-color:#2C3A47;
    position:fixed;
    list-style-type: none;
    top:50px;
}

.chart-list li{
    margin:0 6px;
    display:inline;
}

.chart-list button:hover{
    transform:scale(1.05);
}
